
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPrizeLabel" data-translate="researchApp.prize.home.createOrEditLabel">Create or edit a Prize</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.prize.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.prize.id" readonly />
        </div>
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="researchApp.prize.prizeId" for="field_prizeId">Prize Id</label>-->
            <!--<input type="number" class="form-control" name="prizeId" id="field_prizeId"-->
                    <!--ng-model="vm.prize.prizeId"-->
                    <!--/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="researchApp.prize.prizeType" for="field_prizeType">Prize Type</label>-->
            <!--<input type="number" class="form-control" name="prizeType" id="field_prizeType"-->
                    <!--ng-model="vm.prize.prizeType"-->
                    <!--/>-->
        <!--</div>-->
        <div class="form-group">
            <label class="control-label" data-translate="researchApp.prize.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.prize.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="researchApp.prize.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.prize.description"
                    />
        </div>
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="researchApp.prize.picture" for="field_picture">Picture</label>-->
            <!--<input type="text" class="form-control" name="picture" id="field_picture"-->
                    <!--ng-model="vm.prize.picture"-->
                    <!--/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="researchApp.prize.minPrice" for="field_minPrice">Min Price</label>-->
            <!--<input type="number" class="form-control" name="minPrice" id="field_minPrice"-->
                    <!--ng-model="vm.prize.minPrice"-->
                    <!--/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="researchApp.prize.maxPrice" for="field_maxPrice">Max Price</label>-->
            <!--<input type="number" class="form-control" name="maxPrice" id="field_maxPrice"-->
                    <!--ng-model="vm.prize.maxPrice"-->
                    <!--/>-->
        <!--</div>-->
        <div class="form-group">
            <label class="control-label" data-translate="researchApp.prize.goodPrice" for="field_goodPrice">Good Price</label>
            <input type="number" class="form-control" name="goodPrice" id="field_goodPrice"
                    ng-model="vm.prize.goodPrice"
                    />
        </div>
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="researchApp.prize.createTime" for="field_createTime">Create Time</label>-->
                <!--<div class="input-group">-->
                    <!--<input id="field_createTime" type="text" class="form-control" name="createTime" datetime-picker="{{dateformat}}" ng-model="vm.prize.createTime" is-open="vm.datePickerOpenStatus.createTime"-->
                    <!--/>-->
                    <!--<span class="input-group-btn">-->
                        <!--<button type="button" class="btn btn-default" ng-click="vm.openCalendar('createTime')"><i class="glyphicon glyphicon-calendar"></i></button>-->
                    <!--</span>-->
                <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="researchApp.prize.createUser" for="field_createUser">Create User</label>-->
            <!--<input type="number" class="form-control" name="createUser" id="field_createUser"-->
                    <!--ng-model="vm.prize.createUser"-->
                    <!--/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="researchApp.prize.updateTime" for="field_updateTime">Update Time</label>-->
                <!--<div class="input-group">-->
                    <!--<input id="field_updateTime" type="text" class="form-control" name="updateTime" datetime-picker="{{dateformat}}" ng-model="vm.prize.updateTime" is-open="vm.datePickerOpenStatus.updateTime"-->
                    <!--/>-->
                    <!--<span class="input-group-btn">-->
                        <!--<button type="button" class="btn btn-default" ng-click="vm.openCalendar('updateTime')"><i class="glyphicon glyphicon-calendar"></i></button>-->
                    <!--</span>-->
                <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="researchApp.prize.updateUser" for="field_updateUser">Update User</label>-->
            <!--<input type="number" class="form-control" name="updateUser" id="field_updateUser"-->
                    <!--ng-model="vm.prize.updateUser"-->
                    <!--/>-->
        <!--</div>-->
        <div class="form-group">
            <label class="control-label" data-translate="researchApp.prize.startTime" for="field_startTime">Start Time</label>
                <div class="input-group">
                    <input id="field_startTime" type="text" class="form-control" name="startTime" datetime-picker="{{dateformat}}" ng-model="vm.prize.startTime" is-open="vm.datePickerOpenStatus.startTime"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="researchApp.prize.endTime" for="field_endTime">End Time</label>
                <div class="input-group">
                    <input id="field_endTime" type="text" class="form-control" name="endTime" datetime-picker="{{dateformat}}" ng-model="vm.prize.endTime" is-open="vm.datePickerOpenStatus.endTime"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="researchApp.prize.totalMoney" for="field_totalMoney">Total Money</label>-->
            <!--<input type="number" class="form-control" name="totalMoney" id="field_totalMoney"-->
                    <!--ng-model="vm.prize.totalMoney"-->
                    <!--/>-->
        <!--</div>-->
        <div class="form-group">
            <label class="control-label" data-translate="researchApp.prize.totalNo" for="field_totalNo">Total No</label>
            <input type="number" class="form-control" name="totalNo" id="field_totalNo"
                    ng-model="vm.prize.totalNo"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
