<div>
    <h2 data-translate="researchApp.orderRecord.home.title">Order Records</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="order-record.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="researchApp.orderRecord.home.createLabel">
                        Create new Order Record
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="orderId"><span data-translate="researchApp.orderRecord.orderId">Order Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="prizeId"><span data-translate="researchApp.orderRecord.prizeId">Prize Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="detailPrice"><span data-translate="researchApp.orderRecord.detailPrice">Detail Price</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="researchId"><span data-translate="researchApp.orderRecord.researchId">Research Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createTime"><span data-translate="researchApp.orderRecord.createTime">Create Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userId"><span data-translate="researchApp.orderRecord.userId">User Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="addressId"><span data-translate="researchApp.orderRecord.addressId">Address Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="orderRecord in vm.orderRecords track by orderRecord.id">
                    <td><a ui-sref="order-record-detail({id:orderRecord.id})">{{orderRecord.id}}</a></td>
                    <td>{{orderRecord.orderId}}</td>
                    <td>{{orderRecord.prizeId}}</td>
                    <td>{{orderRecord.detailPrice}}</td>
                    <td>{{orderRecord.researchId}}</td>
                    <td>{{orderRecord.createTime | date:'medium'}}</td>
                    <td>{{orderRecord.userId}}</td>
                    <td>{{orderRecord.addressId}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="order-record-detail({id:orderRecord.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="order-record.edit({id:orderRecord.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="order-record.delete({id:orderRecord.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
