<div>
    <h2 data-translate="researchApp.selectOption.home.title">Select Options</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="select-option.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="researchApp.selectOption.home.createLabel">
                        Create new Select Option
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="optionId"><span data-translate="researchApp.selectOption.optionId">Option Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="questionId"><span data-translate="researchApp.selectOption.questionId">Question Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="content"><span data-translate="researchApp.selectOption.content">Content</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isAnswer"><span data-translate="researchApp.selectOption.isAnswer">Is Answer</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="orderNo"><span data-translate="researchApp.selectOption.orderNo">Order No</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="selectOption in vm.selectOptions track by selectOption.id">
                    <td><a ui-sref="select-option-detail({id:selectOption.id})">{{selectOption.id}}</a></td>
                    <td>{{selectOption.optionId}}</td>
                    <td>{{selectOption.questionId}}</td>
                    <td>{{selectOption.content}}</td>
                    <td>{{selectOption.isAnswer}}</td>
                    <td>{{selectOption.orderNo}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="select-option-detail({id:selectOption.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="select-option.edit({id:selectOption.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="select-option.delete({id:selectOption.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
